.menuButton {
    position: inherit;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background-image: url("../res/button.png");
}

.menuButton:hover {
    background-image: url("../res/button_on_action.png");
}

.menuButton:active {
    background-image: url("../res/button.png");
}

.menu {
    position: inherit;
    right: -35px;
    top: 50px;
    width: 190px;
    height: 300px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}

#card {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#card.flip {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

figure {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.back {
    background: url(../res/gr1.png);
}
.front {
    background: url(../res/gr1.png);
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.menuButtons {
    position: inherit;
    width: 70px;
    height: 15px;
    text-align: center;
    right: 0px;
    -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
    -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
    background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
    background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
    background-color:#eae0c2;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:2px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-family:Phosphate;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.menuButtons:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
    background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
    background-color:#ccc2a6;
}
.menuButtons:active {
    position:inherit;
    top:1px;
}

.chooseLevel {
    position: inherit;
    top:0px;
    left: 70px;
}

